#portrait {
  border: 2px solid white;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

.nav ul {
  padding: 10px 0px;
}

.nav li {
  display: inline-flex;
  padding: 4px 10px;
}
