#portrait {
  border: 2px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.about-me {
  margin: 1.75rem 0;
}

.about-me p {
  margin: 0;
  font-size: 1.75em;
}

.nav ul {
  padding: 10px 0px;
  padding: 0.5rem 0;
}

.nav li {
  display: inline-flex;
  padding: 0.25rem 0.75rem;
  font-size: 1.75em;
}
