html {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/distant-mountains.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border-top: solid 0.5rem #f56723;
}

.container {
  padding: 2.5rem 1.25rem 1.25rem;
  text-align: center;
}

.header {
  padding-top: 2.5rem;
}

.page-title {
  margin: 0.5rem 0;
  font-size: 3.75em;
}

.sub-title {
  margin: 0.5rem 0;
  font-size: 2em;
}

a {
  font-weight: bold;
  color: white;
}

a:hover {
  color: #f56723;
}

/* hide elements for all devices except screen readers, for accessibility */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* fade in animation: via opacity and animation delays */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.fade-in-t2 {
  animation-delay: 0.5s; 
}

.fade-in-t3 {
  animation-delay: 1s;
}
