.breadcrumb {
  text-align: left;
}

.bare-anchor {
  text-decoration: none;
}

.breadcrumb-text {
  text-decoration: underline;
}

.projects {
  margin: 40px 0px;
  text-align: left;
}

.projects * {
  margin: 10px 0px;
}

.project:not(:first-child) {
  margin-top: 36px;
}
