.breadcrumb {
  text-align: left;
  font-size: 1.75em;
}

.bare-anchor {
  text-decoration: none;
}

.breadcrumb-text {
  text-decoration: underline;
}

.projects {
  margin: 2.5rem 0;
  text-align: left;
  font-size: 1.75em;
}

.projects * {
  margin: 0.5rem 0;
}

.project:not(:first-child) {
  margin-top: 2.25rem;
}
